body {
	font-family: 'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
}

.title-logo {
	margin-top: 20px;
}

.hr-thick {
	height: 3px;
	background-color: #BCBBBB;
	color: #BCBBBB;
}

.title-super {
	font-size: 60px;
}

@media only screen and (max-width: 320px) {
	.title-super {
		font-size: 45px;
	}
}

.modal-body {
	color: #444;
}

.modal-img {
	margin-bottom: 20px;
}